<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Shiro</display-name>
  <listener>
      <description>
          defines a ServletContextListener that starts up the Shiro environment
          (including the Shiro SecurityManager) upon web application startup.
          By default, this listener automatically knows to look for our WEB-INF/shiro.ini
          file for Shiro configuration.
      </description>
    <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
  </listener>
  <filter>
      <description>
          defines the master ShiroFilter. This filter is expected to filter all
          requests into the web application so Shiro can peform necessary
          identity and access control operations before allowing a request to
          reach the application.
      </description>
      <description>
          declaration ensures that all request types are filed by the ShiroFilter.
          Often filter-mapping declarations don’t specify dispatcher elements,
          but Shiro needs them all defined so it can filter all of the different
          request types that might execute for a web app.
      </description>
    <filter-name>ShiroFilter</filter-name>
    <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ShiroFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>